<!-- Pillara el nombre del curso que ha elejido -->
<!-- <h2>RESENYA DEL CURS DE {{c.nom}}</h2> -->

<!-- <h2>RESENYA DEL CURS DE DAM</h2>

<p>{{u.nom}}</p> 
<p>Federico</p>

<div class="textResenya" contenteditable="true"></div>


<img width="40px" height="40px" class="rounded-circle user-icon"> 

<button class="botoConfirmar">Confirmar</button>
<button class="botoCancelar">Cancelar</button> -->

<div class="container">
  
  <!-- <h2>RESENYA DEL CURS DE {{c.nom}}</h2> -->

    <h2>Resenya del curs de DAM</h2>
  <div class="perfil">
    <div class="foto-usuario"></div>

    <!-- <p> {{u.nom}}</p> -->
     
    <p>Federico</p>
  </div>
  <div class="textResenya" contenteditable="true"></div>

  <div class="estrellas">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Botones -->

  <div class="button-container">
    <button class="botoConfirmar">Confirmar</button>
    <button class="botoCancelar">Cancelar</button>
  </div>
</div>
