.btn-primary {
    background-color: #FF2D00;
    color: white;
    border: none;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(255, 45, 0, 0.5);
}

.btn-primary:hover {
    background-color: white;
    color: #FF2D00;
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(255, 45, 0, 0.8);
}


.form-control:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    border-color: #FF2D00;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}


#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#logo:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(255, 45, 0, 0.7);
}


.card {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    max-width: 100%; /* Evita que la tarjeta sea más ancha que el contenedor */
    box-sizing: border-box; /* Considera padding y bordes en el ancho total */
}


.gradient-custom {
    background: linear-gradient(to right, #FF2D00, #FF8000);
} 

.vh-100 {
    overflow: hidden; /* Evita scrollbars si no son necesarios */
}

/* Ajusta el tamaño y centrado del contenido */
.container {
    max-width: 100%; /* Evita que el contenedor supere el ancho disponible */
    padding: 0 15px; /* Asegura espacio interno */
    margin: 0 auto; /* Centra el contenedor */
}
