*{
  
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  
}


body
{
  margin-bottom:10em ;
}

.menu 
{
  background: linear-gradient(to right, #FF2D00, #FF8000);
  display: flex;
  align-items: center;
  top: 0;
  left:0;
  justify-content: space-between;
  height: 130px;  
  width: 100%; /* Usa 100vw para ocupar todo el ancho de la ventana */
  height: 120px; /* Altura del menú */
  
  
}

#logo
{
  align-self: center; 
  margin-left: 10px;
}

#usuari
{
  margin-right: 10px;
}

.navbar 
{
  align-items: center;
  float: right;
}

.navbar-nav 
{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: auto;
  padding-left:0 ;
  float: right;
}

.navbar-nav .nav-item
{
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 20px;
  padding: 8px 16px;
  display: flex;
}

 /*Efecto de hover */
.nav-link:hover {
 background-color: #f02106;  /*Cambia a un color más oscuro en hover */
  border-radius: 5px;
}

/*Estilo para el avatar */
.user-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: right;
  margin-left: 4em;
}

/*Estilo para el dropdown */
.custom-dropdown-menu {
  background-color: #c22323;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  color: #333333;
  padding: 10px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

 /*Estilo para el perfil */
.dropdown-divider {
  margin: 5px 0;
}


.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
}






@media (max-width: 768px) 
{

  .menu {
    display: flex;
    flex-direction: column !important;   
    padding-bottom: 27vw;
  }

  .menu-toggle
  {
    display: block;
    
  }

  #logo
  {
    margin-top:20px ;
    
  }
  #usuari
  {
    margin: 0;
  }
  .navbar-nav {
    display: none;
    margin-left: 0;
    float: none ;
    text-align: center;
    flex-direction: column;
    
    
  }
  .navbar-nav.show {
    display: flex;
    
  }
  .menu-toggle
  {
    display: block;
  }

  .menu.open
  {
    padding-bottom: 45vw;
  }



  
}




/*

body {
  padding-top: 130px; /* Ajusta el body para que el navbar fijo no tape contenido 
}

.user-icon {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-collapse 
  {
    text-aling:center;  
    
  }
}*/
